.grid{
    display: grid;
    width: 100%;
    grid-auto-flow: row;
    grid-template-areas: "grid-header grid-header grid-header grid-header "
    "grid-main grid-main grid-main grid-main" "grid-footer . . .";
    margin-bottom: 7.5rem;
}
.grid-header{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr .5fr .5fr 1fr;
    grid-area: grid-header;
    border-bottom: .1rem solid rgba(24, 123, 245, 0.4);
    margin-bottom: 2.3rem;
}
.grid-main{
    grid-area: grid-main;
    display: grid;
    grid-template-columns: 1fr .5fr .5fr 1fr;
    grid-template-areas: 
    "gr1 gr1 gr1 gr1"
    "gr2 gr2 gr2 gr2"
    "gr3 gr3 gr3 gr3"
    "gr4 gr4 gr4 gr4"
    "gr5 gr5 gr5 gr5"
    "gr6 gr6 gr6 gr6"
    ;
    grid-gap: 1.5rem 0;
    border-bottom: .1rem solid rgba(24, 123, 245, 0.4);
    margin-bottom: 3rem;
}
.grid-row{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr .5fr .5fr 1fr;
}
.grid-row-1{
    grid-area: gr1;
}
.grid-row-2{
    grid-area: gr2;
}
.grid-row-3{
    grid-area: gr3;
}
.grid-row-4{
    grid-area: gr4;
}
.grid-row-5{
    grid-area: gr5;
}
.grid-row-6{
    grid-area: gr6;
    margin-bottom: 3.1rem;
}
.grid-footer{
    grid-area: grid-footer;
    display: flex;
}


.grid-header h3{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 1.5rem;
}
.grid-header svg{
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    top:-10px
}
.grid-row span, .grid-row p, .grid-footer p{
    font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;
}
.grid-row .earn{
    color: #187BF5;
}
.grid-row-6 .earn{
    color:black
}
.grid-row-6 .remarks{
    color:red
}
.grid-footer svg{
    margin-right: 1.6rem;
    width: 2.9rem;
    height: 2.9rem;
}